.movie-card-container {
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    width: 14rem;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.movie-image {
    width: 100%;
}

.movie-details {
    display: flex;
    flex-direction: column;
    max-height: 4.5;
    background: #373a6d;
    width: 100%;
    font-size: 0.8rem;
    font-weight: bold;
    color: #fff;
}

.movie-title {
    display: flex;
    max-height: 4.5;
    background: #373a6d;
    width: 100%;
    font-size: 0.8rem;
    font-weight: bold;
    color: #fff;
}
.title-text {
    padding: 1rem 0 0.5rem 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 11rem;
}
.year {
    padding: 0 1rem 0.7rem 1rem;
    color: #ffffff80;
    font-size: 0.7rem;
}

.type-ribbon {
    position: absolute;
    top: 0.5rem;
    left: 0;
}
.type-ribbon-movie {
    color: #07a18d;
}

.type-ribbon-tv {
    color: #f1ae1c;
}

.details-button {
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    .movie-card-container {
        width: 12rem;
    }
    .movie-image {
        height: 15rem;
    }
}