.search-bar-container {
    position: relative;
    background: #373a6d;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin: 0.2rem;
}

.search-input {
    background: transparent;
    border: 1px solid #ffffff70;
    border-radius: 25px;
    color: #ffffff;
    padding: 0.5rem;
    min-width: 7rem;
}

input:focus {
    border-color: #ffffff;
    outline: none;
}

.search-input::placeholder {
    color: #ffffff70;
    font-size: 0.8rem;
    font-weight: bold;
}


.search-button {
    position: absolute;
    right: 0.65rem;
    background: #8f78ce;
    border: 1px solid #8f78ce;
    border-radius: 50%;
    padding: 0.3rem 0.4rem;
    cursor: pointer;
}

.search-button:hover {
    background: #8367cf;
}
.search-icon {
    width: 1rem;
}

@media only screen and (min-width: 768px) {
    .search-input {
        min-width: 15rem;
    }
}