.footer-container {
    display: flex;
    background-color: #373a6d;
    color: #fff;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.footer-text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ffffff70
}

.link {
    color: rgb(91, 142, 207)
}